{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% load static %}
{#타이틀 넣는 곳#}
{% block title %}
    {% trans "Sign In" %}
{% endblock %}

{# css 파일 넣는 곳#}
{% block css %}
    <link href="{% static 'css/accounts_login.css' %}">
{% endblock %}

{#자바스크립트 파일 넣는 곳#}
{% block js %}
{% endblock %}

{% block content %}
    <h1>{% trans "Sign In" %}</h1>

    <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
{#        {{ form.as_p }}#}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <div class="form-floating mb-3">
            {{ form.login }}
            <label for="floatingInput">이메일</label>
            {{ form.login.errors }}
        </div>
        <div class="form-floating mb-3">
            {{ form.password }}
            <label for="floatingPassword">비밀번호</label>
            {{ form.password.errors }}
        </div>
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        <button class='btn btn-primary white' type="submit">{% trans "Sign In" %}</button>
        <div class="social_login_button">
            {% get_providers as socialaccount_providers %}
            {% if socialaccount_providers %}
            <a href="{% provider_login_url 'kakao' method='oauth2' %}"><span>카카오 로그인</span></a>
            <a href="{% provider_login_url 'google' method='oauth2' %}"><span>구글 로그인</span></a>
            {% include "socialaccount/snippets/login_extra.html" %}
    
            {% else %}
            {% endif %} 
        </div>
    </form>
    <ul class="messages">
        <li class="info"> 사용중인 소셜 계정이나 이메일을 이용해 로그인을 해주세요.<br>
            계정이 없으시다면 <a href="{{ signup_url }}">회원가입</a> 해주세요. </li>
    </ul>
    
    

{% endblock %}