{% extends "base.html" %}
{% load account socialaccount %}

{% load crispy_forms_tags %}

{% load i18n %}

{% load static %}
{#타이틀 넣는 곳#}
{% block title %}
    {% trans "Signup" %}
{% endblock %}

{# css 파일 넣는 곳#}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/accounts_join.css' %}">
{% endblock %}

{#자바스크립트 파일 넣는 곳#}
{% block js %}
    {#<script type="text/javascript" src="{% static '/js/user.js' %}"></script>#}
{% endblock %}

{% block content %}
    <h1>{% trans "Sign Up" %}</h1>



    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        <div class="form-floating mb-3">
            {{ form.email }}
            <label for="floatingInput">이메일</label>
            {{ form.email.errors }}
        </div>
        <div class="form-floating mb-3">
            {{ form.username }}
            <label for="floatingInput">유저명</label>
            {{ form.username.errors }}
        </div>
        <div class="form-floating mb-3">
            {{ form.password1 }}
            <label for="floatingPassword">비밀번호</label>
            {{ form.password1.errors }}
        </div>
        <div class="form-floating mb-3">
            {{ form.password2 }}
            <label for="floatingPassword">비밀번호 확인</label>
            {{ form.password2.errors }}
        </div>

        <button type="submit" class='btn btn-primary white mb-1'>{% trans "Sign Up" %}</button>
        <div class="social_login_button">
            {% get_providers as socialaccount_providers %}
            {% if socialaccount_providers %}
                <a href="{% provider_login_url 'kakao' method='oauth2' %}"><span>카카오 회원가입</span></a>
                <a href="{% provider_login_url 'google' method='oauth2' %}"><span>구글 회원가입</span></a>
                {% include "socialaccount/snippets/login_extra.html" %}

            {% else %}
            {% endif %}
        </div>
    </form>
    <ul class="messages">
        <li class="info"> {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</li>
    </ul>
{% endblock %}
