:root {
    --color: #6667AB;
    --color-accent: #2f2f68;
    --color-secondary: #a7aed9;
    --color-secondary-accent: #4b5589;
    --color-bg: #f1f2f8;
    --color-bg-secondary: #f8f9fa;
    --page-color: #6667AB;
    --page-color-10: #A4B4C3;
    --page-color-red: #EB0000;
    --page-color-black: black;
    --page-color-white: white;
    --page-color-yellow: #FFE150;
    --hover-brightness: 0.95;
}

a {
    text-decoration: none;
    color: var(--page-color);
}

* {
    font-family: 'Gowun Dodum', sans-serif;
}

a:hover {
    text-decoration: none;
    --hover-brightness: 0.80;
    color : var(--color-secondary-accent);
}

nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    margin: 0;
    background-color: var(--color-bg-secondary);
}

.nav_container {
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    font-size: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    max-width: none;
    margin: 5% 0 20% 0;
}

.hidden {
    display: none;
}