/* 커뮤니티 앱 기본 틀 */
#community_container {
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
}

hr {
    border-top: 15px solid #bbb;
}

#community_container .community_header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
}

#community_container .community_header .header_post img {
    width: 9vw;
    height: 9vw;
    max-width: 90px;
    max-height: 90px;
    border-radius: 50%;
    margin-right: 30px;
}

#community_container .community_header .header_post span {
    width: 100vw;
    height: 15vw;
    max-width: 750px;
    min-width: 450px;
    max-height: 90px;
    line-height: 87px;
    float: right;
    background-color: gainsboro;
    color: gray;
    text-align: center;
    font-size: 35px;
}

#community_content .community_footer {
    background-color: greenyellow;
}

/* 초기 검색바 */
/*
#community_container .community_header .community_search {
    width: 50vw;
    max-width: 600px;
    min-width: 400px;
    height: 50px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
}

#community_container .community_header button {
    width: 5vw;
    max-width: 50px;
    min-width: 50px;
    height: 50px;
    background-color: gray;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    font-size: 15px;
    font-weight: bold;
}

input[name="community_searchbox"] {
    width: 420px;
    height: 35px;
    position: absolute;
    top: 5px;
    left: 10px;
    border: none;
    font-size: 25px;
}

input[name="community_searchbox"]:focus {
    outline: none;
} */