:root {
    --page-color: #FFE650;
    --page-color-10: #FAFAD2;
    --page-color-red: #EB0000;
    --page-color-error: #FA8282;
    --page-color-black: black;
    --page-color-white: white;
}

#community_post_container a {
    color: var(--page-color-black);
    text-decoration-line: none;
}

#community_post_container a:hover {
    color: var(--page-color-red);
}

/* 게시물 등록 */
#community_post_container .container_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 7px solid var(--page-color);
    padding: 10px;
    margin-bottom: 30px;
    border: none;
}

#community_post_container form {
    border: none;
}


#community_post_container form .container_header span:nth-child(2) {
    font-size: 30px;
    font-weight: bold;
}

#community_post_container form .container_header button {
    width: 7vw;
    max-width: 70px;
    height: 45px;
    border: none;
    border-radius: 10px;
}

#community_post_container form .container_header button:hover {
    background-color: var(--page-color-black);
    color: var(--page-color-white);
}

#community_post_container form input {
    width: 50vw;
    max-width: 700px;
    border: none;
    margin-bottom: 20px;
}

/* 에러 */
#community_post_container .error {
    width: 700px;
    text-align: center;
    border: 1px solid var(--page-color-red);
    color: var(--page-color-white);
    background-color: var(--page-color-error);
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}