.card{
    text-align: left;
    width: 25rem;
    margin-bottom: 7%
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: unset;
}