#reset_container .password_reset {
    width: 80vw;
    max-width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #c4c4c4;
    margin-bottom: 10px;
}

#reset_container .password_reset p input {
    width: 75vw;
    max-width: 750px;
}