:root {
    --page-color: #5D579D;
    --page-color-10: #A4B4C3;
    --page-color-red: #EB0000;
    --page-color-black: black;
    --page-color-white: white;
    --page-color-new: #6362B0;
}

/* 페이지 기본 뼈대 */
#community_detail_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#community_detail_container a {
    color: var(--page-color-black);
    text-decoration-line: none;
}

#community_detail_container a:hover {
    color: var(--page-color-red);
}

#community_detail_container img {
    width: 15vw;
    height: 15vw;
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
}

/* 등록된 게시물 */
#community_detail_container .detail_posted .detail_posted__header {
    width: 820px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 7px solid var(--page-color);
    padding: 10px;
    margin-bottom: 30px;
}

/* 등록된 내용 */
#community_detail_container .detail_posted .detail_posted__body {
    height: auto;
    font-size: 18px;
    background-color: var(--page-color-10);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

/* 태그 */
#community_detail_container .detail_tags {
    width: 90vw;
    max-width: 820px;
    font-size: 18px;
    background-color: var(--page-color-10);
    margin-bottom: 10px;
    background-color: var(--page-color-10);
    padding: 0 10px;
    border-radius: 10px;
}

/* 게시물 댓글 */
#community_detail_container .detail_comment {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#community_detail_container .detail_comment .detail_comment__result {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#community_detail_container .detail_comment .detail_comment__result form {
    width: 830px;
    border: none;
    margin-bottom: 12px;
    border: 1px solid #dcdcdc;
}

#community_detail_container .detail_comment .detail_comment__result form .form-floating textarea {
    height: auto;
    background: none;
    margin-bottom: 12px;
    overflow: hidden;
    z-index: 1;
}

#community_detail_container .detail_comment .detail_comment__result form .comment_function {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#community_detail_container .detail_comment .detail_comment__result form .comment_function .comment_function__left input {
    display: inline-block;
    background: none;
    border: none;
    font-weight: bold;
}

#community_detail_container .detail_comment .write_comment form {
    width: 830px;
    border: 2px solid var(--page-color-new);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#community_detail_container .detail_comment .write_comment form .form-floating textarea {
    width: 750px;
    height: auto;
    background: none;
    margin-bottom: 12px;
    overflow: hidden;
    z-index: 1;
}

#community_detail_container .detail_comment .write_comment form button {
    background: none;
    border: none;
}