{% extends 'base.html' %}
{% load static %}

{% block title %}
    Community
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/community.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block js %}

{% endblock %}

{% block content %}
    <div id="community_container">
        {% comment %} 포스팅 {% endcomment %}
        <div class="community_header">
            <img src="{% static 'img/test.png' %}" alt="프로필"/>
            <a href="/post" alt="포스팅 페이지 이동"><span>나눌 의견이 있다면 클릭!</span></a>
        </div>

        {% comment %} 등록된 게시물 {% endcomment %}
        <div class="community_body">
            {% for post in posts %}
                {% comment %} 프로필 {% endcomment %}
                <div class="body_profile">
                    <img src="{% static 'img/test.png' %}"/>
                    <div class="body_profile__name">
                        <span>{{ post.author.username }}</span>
                        <span>{{ post.created_at | timesince }} 전</span>
                    </div>
                </div>
                {% comment %} 글 내용 {% endcomment %}
                <div class="body_content">
                    <span style="display: block;">{{ post.content | linebreaksbr }}</span>
                </div>
                {% comment %} <div class="body_content">
                {{ content | safe }}
            </div> {% endcomment %}


                {% comment %} 태그 {% endcomment %}
                <div class="body_tags">
                    {% if post.tags.all %}
                        {% for tag in post.tags.all %}
                            <a href="{% url 'tagged_object_list' tag.name %}">
                                <span> {{ tag.name }}</span>
                            </a>
                        {% endfor %}
                        {% comment %} <a style="text-decoration: none" href="{% url 'tag_cloud' %}">태그</a> {% endcomment %}
                    {% endif %}
                </div>

                <div class="body_functions">
                    <div class="body_functions__left">
                        {% comment %} 좋아요 {% endcomment %}
                        <a href="{% url 'likes' post.id %}">
                            {% if user in post.like.all %}
                                <i class="fa fa-heart"
                                   style="font-size:36px; color: #EB0000; margin-top: 7px; margin-right: 5px;"
                                   id="heart"></i>
                            {% else %}
                                <i class="fa fa-heart-o" style="font-size: 36px; margin-top: 5px; margin-right: 5px;"
                                   id="heart"></i>
                            {% endif %}
                        </a>

                        {% comment %} 세부 페이지 이동 {% endcomment %}
                        <a href="/community/{{ post.id }}"><i class="fa fa-comment-o"
                                                              style="font-size:36px; margin-right: 5px;"></i></a>

                        {% comment %} 포스트 삭제 아이콘 {% endcomment %}
                        {% if post.author == user %}
                            <a href="/community/delete/{{ post.id }}"><i class="fa fa-trash" style="font-size:36px"></i></a>
                        {% endif %}
                    </div>

                    <div class="body_functions__right">
                        {% comment %} 좋아요 개수 {% endcomment %}
                        <span>{{ post.like.count }}명이 좋아합니다.</span>
                    </div>

                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}