{% extends 'base.html' %}
{% load static %}

{% block title %}
Community
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static '/css/community.css' %}">
{% endblock %}

{% block js %}

{% endblock %}

{% block content %}
<div id="community_container">

    {% comment %} 임시 로그아웃 {% endcomment %}
    {% if not user.is_authenticated %}
    <span>Healthy 21</span>
    <i class="fa fa-search" style="font-size:36px"></i>
    {% else %}
    <a href="/logout">로그아웃</a>
    <br>
    {% endif %}

    {% comment %} 포스팅 {% endcomment %}
    <img src="{% static 'img/test.png' %}" alt="프로필" />
    <a href="/post" alt="포스팅 페이지 이동"><span>게시물을 포스팅하시겠어요?</span></a>
    <hr>

    {% comment %} 등록된 게시물 {% endcomment %}
    {% for post in posts %}
        <img src="{% static 'img/test.png' %}" />
        <span>{{ post.author.username }}</span>
        <span>2022.03.16</span>
        <button>팔로우</button>
        <span>{{ post.created_at | timesince }} 전</span>
        <span>{{ post.content }}</span>
    

    {% comment %} 게시물 기능 아이콘 {% endcomment %}
    <a href="{% url 'likes' post.id %}">
        {% if user in post.like.all %}
        <i class="fa fa-heart" style="font-size:36px;" id="heart"></i>
        {% else %}
        <i class="fa fa-heart-o" style="font-size:36px;" id="heart"></i>
        {% endif %}
        <span>{{ post.like.count }}</span>
    </a>

    <a href="/community/{{ post.id }}"><i class="fa fa-comment-o" style="font-size:36px"></i></a>
    <i class="fa fa-bookmark-o" style="font-size:36px"></i>
    {% if post.author == user %}
        <a href="/community/delete/{{ post.id }}"><i class="fa fa-trash" style="font-size:36px"></i></a>
    {% endif %}
    <hr>

    {% endfor %}

    

</div>
    {% endblock %}