{% extends 'base.html' %}
{% load static %}

{% block title %}
    Community
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/community.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
{% endblock %}

{% block js %}

{% endblock %}

{% block content %}
    <div id="community_container">
        {% comment %} 포스팅 {% endcomment %}
        <div class="community_header">
            <img src="{{ user.userprofile.image.url }}" alt="{{ user }} profile"/>
            <a href="/post" alt="포스팅 페이지 이동"><span>나눌 의견이 있다면 클릭!</span></a>
        </div>

        {% comment %} 등록된 게시물 {% endcomment %}
        <div class="community_body">
            {% for post in posts %}
                {% comment %} 프로필 {% endcomment %}
                <div class="body_profile">
                    <div class="body_profile__name">
                        <span>{{ post.author.username }}</span>
                        <span>{{ post.created_at | timesince }} 전</span>
                    </div>
                </div>
                {% comment %} 글 내용 {% endcomment %}
                <div class="body_content">
                    <span style="display: block;">{{ post.content | linebreaksbr }}</span>
                </div>

                {% comment %} 태그 {% endcomment %}
                <div class="body_tags">
                    {% if post.tags.all %}
                        {% for tag in post.tags.all %}
                            <a href="{% url 'tagged_object_list' tag.name %}">
                                <span> {{ tag.name }}</span>
                            </a>
                        {% endfor %}
                        {% comment %} <a style="text-decoration: none" href="{% url 'tag_cloud' %}">태그</a> {% endcomment %}
                    {% endif %}
                </div>

                <div class="body_functions">
                    <div class="body_functions__left">
                        {% comment %} 좋아요 {% endcomment %}
                        <a href="{% url 'likes' post.id %}">
                            {% if user in post.like.all %}
                            <span>추천 취소</span>
                            {% else %}
                            <span>추천</span>
                            {% endif %}
                        </a>

                        {% comment %} 세부 페이지 이동 {% endcomment %}
                        <a href="/community/{{ post.id }}"><span>댓글</span></a>

                        {% comment %} 포스트 삭제 아이콘 {% endcomment %}
                        {% if post.author == user %}
                            <a href="/community/delete/{{ post.id }}"><span>삭제</span></a>
                        {% endif %}
                        {% comment %} 좋아요 개수 {% endcomment %}
                    </div>
                    <span>{{ post.like.count }}명이 추천합니다.</span>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}