{% extends 'base.html' %}

{% load static %}

{#타이틀 넣는 곳#}
{% block title %}
    Detail
{% endblock %}

{# css 파일 넣는 곳#}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/community_detail.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{#자바스크립트 파일 넣는 곳#}
{% block js %}
    <script type="text/javascript" src="{% static 'js/comment_update.js' %}"></script>

{% endblock %}

{#메인 컨텐츠 들어가는 곳#}
{% block content %}
    <div id="community_detail_container">
        {% comment %} 등록된 게시물 {% endcomment %}
        <div class="detail_posted">
            <div class="detail_posted__header">
                <a href="{% url 'community' %}">뒤로</a>
                <span style="font-size: 30px;"><strong>{{ post.author.username }}</strong>님의 글</span>
                {% comment %} 게시물 수정 {% endcomment %}
                {% if post.author == user %}
                    <a href="/community/post/update/{{ post.id }}">수정</a>
                {% else %}
                    <a onclick="alert('당신은 이 기능을 사용할 수 없습니다.');">수정</a>
                {% endif %}
            </div>
            {% comment %} 등록된 내용 {% endcomment %}
            <div class="detail_posted__body">
                <span>{{ post.content | linebreaksbr }}</span>
            </div>

        </div>

        {% comment %} 태그 {% endcomment %}
        <div class="detail_tags">
            {% if post.tags.all %}
                {% for tag in post.tags.all %}
                    {% comment %} <a href="{% url 'tagged_object_list' tag.name %}">
                        <span> {{ tag.name }}</span>
                    </a> {% endcomment %}
                {% endfor %}
            {% endif %}
        </div>


        {% comment %} 게시물 댓글 {% endcomment %}
        <div class="detail_comment">
            <div class="detail_comment__result" style="display: flex; flex-direction: column; align-items: center;"></div>
                {% for cm in comments %}
                    {% comment %} 댓글 기능 {% endcomment %}
                    <form action="/community/comment/update/{{ cm.id }}" method="POST" style="width: 830px; border: none; margin-bottom: 12px; border-bottom: 1px solid #FAFAD2;">
                        {% csrf_token %}
                        <p><strong>{{ cm.author }}</strong>님의 댓글</p>
                        {% comment %} 댓글 내용 {% endcomment %}
                        <div class="form-floating">
                            <textarea class="form-control" name="comment_content" id="comment_content" style="height: auto;background: none; margin-bottom: 12px; overflow: hidden; z-index: 1;" readOnly>{{ cm.comment }}</textarea>
                            <label for="comment_content">Content</label>
                        </div>
                        <div class="comment_function" style="display: flex; justify-content: space-between; align-items: center;">
                            <div class="comment_function__left">
                                {% comment %} 댓글 수정 {% endcomment %}
                                {% if cm.author == user %}
                                    <input style="display: inline-block; background: none; border: none; font-weight: bold;" class="comment_edit_{{ cm.id }}" type="button" onclick="editListener({{ cm.id }})" value="수정"></input>
                                {% endif %}
                                {% comment %} 댓글 삭제 {% endcomment %}
                                    {% if cm.author == user %}
                                    <a href="/community/comment/delete/{{ cm.id }}"><span>삭제</span></a>
                                {% endif %}
                            </div>
                            {% comment %} 댓글 추천 {% endcomment %}
                            <a href="/community/comment/like/{{ cm.id }}">
                                {% if user in cm.like.all %}
                                    <span style="font-size:24px" class="fa">&#xf058;</span>
                                {% else %}
                                    <span style="font-size:24px" class="fa">&#xf05d;</span>
                                {% endif %}
                                <span> {{ cm.like.count }} </span>
                            </a>
                        </div>
                        <span style="font-size: 12px;">{{ cm.created_at | timesince }} 전에 작성되었습니다.</span>
                    </form>
                {% endfor %}
            </div>

            {% comment %} 댓글쓰기 버튼 {% endcomment %}
            <form action="/community/comment/{{ post.id }}" method="POST" style="width: 830px; border: 2px solid #FAFAD2; display: flex; flex-direction: column; align-items: center;">
                {% csrf_token %}
                <div class="form-floating">
                    <textarea type="text" class="form-control" name="comment" id="comment" placeholder="댓글" style="width: 750px; height: auto;background: none; margin-bottom: 12px; overflow: hidden; z-index: 1;">{{ cm.comment }}</textarea>
                </div>
                <button type="submit" style="background: none; border: none;">댓글쓰기</button>
            </form>
        </div>
    </div>

{% endblock %}

