{% extends 'base.html' %}

{% load static %}

{#타이틀 넣는 곳#}
{% block title %}
Edit
{% endblock %}

{# css 파일 넣는 곳#}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/community_edit.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{#자바스크립트 파일 넣는 곳#}
{% block js %}

{% endblock %}


{#메인 컨텐츠 들어가는 곳#}
{% block content %}
    {% comment %} 게시물 수정 {% endcomment %}
    <div id="community_edit_container">
        <div class="community_edit_header">
            <a href="/community/{{ post.id }}">뒤로</a>
            <span style="font-size: 30px;">게시글 수정하기</span>
            <a href="#"><span style="font-size:24px" class="fa">&#xf06a;</span></a>
        </div>
        <form action="/community/post/update/{{ post.id }}" method="POST">
            {% csrf_token %}
            <div class="form-floating">
                <textarea class="form-control" name="content_edit" placeholder="Leave a comment here" id="floatingTextarea2">{{ post.content }}</textarea>
                <label for="floatingTextarea2">클릭해서 수정하세요!</label>
            </div>
            <button type="submit">수정하기</button>
        </form>
    </div>
    
{% endblock %}