{% extends 'base.html' %}

{% load static %}

{#타이틀 넣는 곳#}
{% block title %}
    {% if type == 'food' %}
        Food
    {% elif type == 'diet_plan' %}
        Diet plan
    {% elif type == 'workout' %}
        Workout
    {% elif type == 'workout_routine' %}
        Workout routine
    {% endif %}
{% endblock %}

{# css 파일 넣는 곳#}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/info.css' %}">
{% endblock %}

{% block js %}
    <script>
        const content_type = '{{ type|safe }}'
        const content = document.querySelector(".all_data_container");
        let page = 2
        let next_page = true

        var scrollTimer = 0;

        window.onscroll = function () {
            var minScrollTime = 200;

            if (!scrollTimer) {
                scrollTimer = setTimeout(function () {
                    scrollTimer = null;
                    let url = `{% url 'info' %}${content_type}?page=${page}`
                    if (window.innerHeight + window.scrollY >= document.body.offsetHeight && next_page) {
                        page += 1
                        fetch(url).then(res =>
                            res.json()
                        ).then(data => {
                            content.innerHTML += data.map(
                                res_data => `
                        <a href="{% url 'info' %}${res_data.id}">${res_data.item}</a>
                        `
                            ).join("\n")
                        }).catch(err => {
                            next_page = false
                            content.innerHTML += `
                            <p>마지막 컨텐츠입니다.</p>
                            `
                        })
                    }
                }, minScrollTime);
            }
        }
    </script>
{% endblock %}

{#메인 컨텐츠 들어가는 곳#}
{% block content %}
    <div class="recommend_container">
        <p>추천</p>
        {% for i in recommend %}
            <a href="{% url 'info' %}{{ i.id }}">{{ i.item }}</a>
        {% endfor %}
    </div>
    <div>
        <p>전체</p>
        <div class="all_data_container">
            {% for i in content %}
                <a href="{% url 'info' %}{{ i.id }}">{{ i.item }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}

