{% extends 'base.html' %}

{% load static %}

{#타이틀 넣는 곳#}
{% block title %}
    info
{% endblock %}

{# css 파일 넣는 곳#}
{% block css %}
    {#        <link rel="stylesheet" href="{% static '/css/해당앱.css' %}">#}
{% endblock %}

{#자바스크립트 파일 넣는 곳#}
{% block js %}
    {#<script type="text/javascript" src="{% static '/js/해당앱.js' %}"></script>#}
{% endblock %}

{#메인 컨텐츠 들어가는 곳#}
{% block content %}
    <div>
        추천
        {% if data.recommend %}
            {% for i in data.recommend %}
                <div>
                    <a href="{{ i.id }}">{{ i.item }}</a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div>
        <a href="diet_plan">diet_plan</a>
        {% if data.diet_plan %}
            {% for i in data.diet_plan %}
                <div>
                    <a href="{{ i.id }}">{{ i.item }}</a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div>
        <a href="food">food</a>
        {% if data.food %}
            {% for i in data.food %}
                <div>
                    <a href="{{ i.id }}">{{ i.item }}</a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div>
        <a href="workout_routine">workout_routine</a>
        {% if data.workout_routine %}
            {% for i in data.workout_routine %}
                <div>
                    <a href="{{ i.id }}">{{ i.item }}</a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div>
        <a href="workout">workout</a>
        {% if data.workout %}
            {% for i in data.workout %}
                <div>
                    <a href="{{ i.id }}">{{ i.item }}</a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

