{% extends "base.html" %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% get_social_accounts user as accounts %}
{% load static %}
{% load i18n %}

{#타이틀 넣는 곳#}
{% block title %}
    유저 프로필
{% endblock %}

css 파일 넣는 곳
{% block css %}
{% endblock %}

자바스크립트 파일 넣는 곳
{% block js %}
{% endblock %}

{#메인 컨텐츠 들어가는 곳#}
{% block content %}
    <h1 style="margin-top: 20px">유저 프로필</h1>
    <div class="container">
        {% if user.is_authenticated %}
            <p>{{ user }}님, 게임에 참여하시려면 추가정보를 입력해주세요. </p>
            {#        <form class="signup" id="user_profile_form" method="post" action="{% url 'user-profile' %}">#}
            <form action="" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ u_form | crispy }}
                    {{ form | crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-primary button white" type="submit">업데이트</button>
                </div>
            </form>
        {% else %}
            <p>로그인 해주세요.</p>
        {% endif %}
    </div>
{% endblock %}
